body {
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
}
fieldset {
  text-align: center;
  width: 400px;
  background-color: #f69865;
  border-radius: 8px;
}
.form-container {
  display: flex;
  justify-content: center;
}
.form-element {
  margin: 10px 10px;
}
.form-element input {
  margin: 10px 10px;
  border-radius: 4px;
  border: none;
  background-color: #fad389;
}

.form-element button {
  margin: 5px 5px;
  background-color: #5b96c2;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 30px;
}
